%header
  .mx-auto.max-w-screen-xl
    .sm:flex.sm:items-center.sm:justify-between
      .text-center.sm:text-left
        %h1.text-2xl.font-bold.text-gray-900.sm:text-2xl Ruby Skies
        %p.text-sm.text-gray-500{class: "mt-1.5"} Let's check the weather.
      .mt-4.flex.flex-col.gap-4.sm:mt-0.sm:flex-row.sm:items-center